* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Noto Sans JP', sans-serif;
}

img {
    width: 100%;
    display: inline-block;
}

:root {
    --blue: #0084FD;
    --lightblue: #B5DDFF;
    --purple: #9792E4;
    --dark: #333333;
    --yellow: #FDC15F;
}

ul,
ol,
menu,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* LAYOUT */

.container {
    max-width: 1204px;
}

.container-small{
    max-width: 944px;
}

.container,
.container-small{
    margin: 0 auto;
    padding: 0 32px;
    text-align: center;
}


.col1{
    flex-basis: calc(100%/3*1);
}

.col2{
    flex-basis: calc(100%/3*2);
}

.col_full{
    flex-basis: 100%;
}


.row {
    display: flex;
    flex-wrap: wrap;  
}

.space-between {
    justify-content: space-between;
}

.center{
    text-align: center;
}



/* BUTTONS */

.button {
    font-size: 18px;
    line-height: 38px;
    border-radius: 50em;
    max-width: fit-content;
    padding: 0 16px;
}

.button--medium{
    line-height: 46px;
}

.button--medium a{
    padding: 0 36px;
    align-items: center;
}


.button--white {
    color: var(--dark);
    background-color: white;
}

.button--blue {
    color: white;
    background-color: var(--blue);
}


/* HEADER */

.main-header {
    background-color: var(--blue);
    padding: 19px 0px;
    color:  white;
}

.main-header nav.row {
    align-items: center;
}

.nav-item a {
    line-height: 38px;
    font-size: 16px;
    padding: 0 16px;
}

.small{
    margin: 0 -16px;
}

.hamburger {
    display: none;
}

/* MEDIAQUERY HEADER */

@media only screen and (max-width: 991px) {
    .hamburger {
        display: block;
    }

    .header-nav {
        display: none;
    }
}

/* HERO */

.hero{
    padding: 52px 0px;
}

.hero h2{
    color: var(--blue);
    font-size: 26px;
}

.hero p{
    color: var(--dark);
    font-size: 18px;
}

.card {
    background-color: var(--lightblue);
    border-radius: 20px;
    margin: 0 12px;
    min-height:fit-content;
    height: 100%;
}

.hero .row{
    margin: 0 -12px;
}

.gutter{
    row-gap: 24px;
}

.col_figure,
.col_article{
    flex-basis: 50%;
}

.hero figure img{
    max-width: 100%;
    text-align: center;
    margin-bottom: -24px;
    display:block;
}

.col{

    padding: 24px 36px;
}

.button.button--medium{
    margin-top: 36px;
}

.icon_big{
    font-size: 84px;
}

.icon_blue{
    color: var(--blue);
    padding: 12px;
}

.icon_space{
    padding-right: 16px;
}


/* MEDIAUERY HERO */

@media only screen and (max-width: 991px) {

    .hero .card .row [class^="col"]{
        flex-basis: 100%;
    
    }

    .col_figure{
        flex-basis: 60%;
    }

    .col_article{
        flex-basis: 100%;
    }

}


@media only screen and (max-width: 575px) {
    .hero [class^="col"] {
        flex-basis: 100%;
    }

}


/* sezione planning */

.section-planning{
    background-color: var(--purple);
    padding-top:110px ;
    padding-bottom:55px ;
}


.section-planning .col{
    flex-basis: 0;
    flex-grow: 1;
    padding: 0;
}

.section-planning .row{
    gap: 60px;
}

.card-planning{
    background-color: white;
    color: black;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding:32px 40px;
    align-items: center;
    text-align: center;
}

.card-planning p{
    font-size: 14px;
    line-height: 1.7em;
}

.card-planning img{
    width: 70%;
}

.section-planning .col-card{
    align-self: flex-end;
}

.section-planning .col__img{
    margin-bottom: 100px;
}

.section-planning .col__title{
    margin-bottom: 50px;
}

.section-planning .col{
    color: white;
}

/* MEDIAQUERY SEZION-PLANNING */

@media screen and (max-width:991px){
    .section-planning .col{
        flex-basis: 100%;
    }

    .col__title{
        font-size:72px ;
    }
}

@media screen and (max-width:575px){

    .col__title{
        font-size:24px ;
    }

    .card-planning{
        padding: 16px 20px;
    }
}


/* sezione partner */

.section-partner{
    padding-top:110px ;
    padding-bottom:55px ;
}

.partner-title{
    color: var(--purple);
    margin: 25px 0;
    font-size: xx-large;
}